/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url('../fonts/font.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
    font-family: 'Muli', sans-serif;
    color: #666;
    background: #e0e0e0;
}
#notification-header{
    height: 5px;
    background: #e0e0e0;
    position: fixed;
    height: 5px;
    width: 100%;
    z-index: 2;
}
header {
    background: #e0e0e0;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

#content .todo {
    background: none;
}

#content input.todo-search-field{
    width: 90%;
}

#content input.todo-search-field:focus{
    outline: none;
}
#content .todo-search{
    padding-left: 62px;
}

#content .todo-search.isEmpty{
    border-radius: 6px;
}

#content .todo-search:before{
    position: static;
    background: none;
    content: normal;
}

#content .todo ul{
    padding-left: 0;
}

#content .todo ul li{
    background: #2c3e50;
    cursor: default;
    position: relative;
    margin-top: 0;
}
#content .todo ul li:after{
    display: none;

}

#content .todo ul li .week{
    margin-left: 10px;
    font-size: 13px;
    color: #bbbbbb;
}

#content .todo ul li .newWeek{
    color: #fff;
    text-align: center;
}

#content .todo ul li[data-isnewweek="true"]{
    border-top: 1px solid #445d75;
    margin-top: 10px;
}
#content .todo li[data-isnewweek="true"]:first-child{
    margin-top: 0;
}

#content .todo li .todo-icon.fui-gear{
    cursor: pointer;
}

.week1{
    border-left: 7px solid #F1C40F;
}
.week2{
    border-left: 7px solid #3498DB;
}
.week3{
    border-left: 7px solid #9B59B6;
}
.week4{
    border-left: 7px solid #34495E;
}
.week5{
    border-left: 7px solid #2ECC71;
}
.week6{
    border-left: 7px solid #E67E22;
}
.week7{
    border-left: 7px solid #E74C3C;
}
.week8{
    border-left: 7px solid #95A5A6;
}
.week9{
    border-left: 7px solid #1ABC9C;
}
.weekOld{
    border-left: 7px solid #ECF0F1;
}

@-webkit-keyframes fadeIt {
    0%   { background-color: #e0e0e0; }
    20%  { background-color: hotpink; }
    80%  { background-color: hotpink; }
    100% { background-color: #e0e0e0; }
}
@-moz-keyframes fadeIt {
    0%   { background-color: #e0e0e0; }
    20%  { background-color: hotpink; }
    80%  { background-color: hotpink; }
    100% { background-color: #e0e0e0; }
}
@-o-keyframes fadeIt {
    0%   { background-color: #e0e0e0; }
    20%  { background-color: hotpink; }
    80%  { background-color: hotpink; }
    100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
    0%   { background-color: #e0e0e0; }
    20%  { background-color: hotpink; }
    80%  { background-color: hotpink; }
    100% { background-color: #e0e0e0; }
}

.success-animation{
    background-image:none !important;
    -webkit-animation: fadeIt 3s ease-in-out;
    -moz-animation: fadeIt 3s ease-in-out;
    -o-animation: fadeIt 3s ease-in-out;
    animation: fadeIt 3s ease-in-out;
}
.nisse{
    background: pink;
    border: none;
    margin: 10px;
}