<!doctype html>
<html lang="sv" ng-app="loggr">
<head>
   <!-- htmlmin:ignore -->
    <meta charset="utf-8">
    <title>· { loggr } ·</title>
    <!-- build:css css/combined.css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="node_modules/designmodo-flat-ui/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
</head>
<body ng-controller="mainController">
<div id="notification-header" ng-class="class"></div>
<header>
    <div class="container">
        <h3>&middot; &lcub; loggr &rcub; &middot;</h3>
    </div>
</header>
<section id="content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="todo">
                <div class="todo-search"ng-class="{isEmpty: logged.length < 1}">
                    <input class="todo-search-field" ng-model="newLog" my-enter="addNewLog()" type="text" maxlength="255" value="" placeholder="Vad vill du logga?">
                    <button class="btn btn-primary" type="button" ng-click="addNewLog()"><span class="fui-plus"></span></button>
                </div>
                <ul>
                    <li ng-repeat="log in logged track by $index" class="" data-isnewweek="">
                        <!--<div class="newWeek" ng-show="true">Vecka {{ log.renderData.week }}</div>-->
                        <div data-toggle="modal" data-target="#editModal" ng-click="editLog(log);" class="todo-icon fui-gear"></div>

                        <div class="todo-content">
                            @ {{ log.date | dateFilter:'dddd' }}
                            <span class="pull-right week">
                                (v{{ log.date | dateFilter:'wn' }})
                            </span>
                            <span class="pull-right">
                                {{ log.date | dateFilter }})
                            </span>
                            <h4 class="todo-name" ng-model="log.work" ng-dblclick="passNewLog(log.work)">
                                {{ log.work }}
                            </h4>
                        </div>
                    </li>
                </ul>
            </div><!-- /.todo -->
        </div>
    </div>
</section><!-- /.container -->

<!-- Modal -->
<div class="modal fade" my-modal id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Redigera log</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="work">Log</label>
                      <input type="text" id="work" ng-model="edited.work" my-enter="update(edited)" class="form-control input-lg" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="date">Log datum</label>
                      <input type="date" id="date" ng-model="edited.date" max="{{ today }}" class="form-control input-lg" />
                  </div>
                </div>

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Ta bort</button>
                <button type="button" class="btn btn-default" ng-click="cancelEditing()" data-dismiss="modal">Ångra</button>
                <input type="button" class="btn btn-primary" ng-click="update(edited)" data-dismiss="modal" value="Uppdatera" />
            </div>
        </div>
    </div>
</div>

<!-- build:js js/vendor.js -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.js"></script>
<!-- endbuild -->

<!-- build:js js/app.min.js -->
<script src="js/app.js"></script>
<script src="js/directive.myEnter.js"></script>
<script src="js/directive.myModal.js"></script>
<script src="js/factory.date.js"></script>
<script src="js/factory.storage.js"></script>
<script src="js/filter.date.js"></script>
<!-- endbuild -->

</body>
</html>
